---
permalink: bundle.css
---

{% set css %}
{% include "./node_modules/@picocss/pico/css/pico.sand.min.css" %}
{% include "./node_modules/@picocss/pico/css/pico.colors.min.css" %}
{% include "./_includes/css/footer.css" %}
{% include "./_includes/css/mes-experiences.css" %}
{% include "./_includes/css/mes-competences.css" %}
{% include "./_includes/css/theme-switcher.css" %}
{% include "./_includes/css/index.css" %}
{% include "./_includes/css/blog/styles.css" %}
{% endset %}

{{ css | cssmin | safe }}